/*Colors go here*/
/*Hereo go the fonts*/
/*Hero go the weights*/
/*Hero go the font-size*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100vw;
}

.wrapper {
  width: 100%;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1rem 1rem 2.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid 1px #e9e6e6;
}

header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  margin: 0 1.2rem;
  padding: 0 0.15rem;
  font-family: "Barlow", sans-serif;
  color: #262A2C;
  cursor: pointer;
  position: relative;
}

@media screen and (max-width: 1070px) {
  header nav ul li {
    font-size: 12px;
  }
}

header nav ul li:not(:last-of-type)::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  top: 107%;
  background: #ED2C49;
  width: 0;
  height: 2px;
  -webkit-transition: width ease-in 300ms;
  transition: width ease-in 300ms;
}

header nav ul li:not(:last-of-type):hover::before {
  width: 100%;
}

header nav ul li:nth-of-type(4)::after {
  position: absolute;
  content: "Pro";
  width: 35px;
  height: 20px;
  background: #3E54A3;
  font-family: "Barlow", sans-serif;
  font-size: 12.5px;
  font-weight: 700;
  margin-left: 0.17rem;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
}

header nav ul li button {
  padding: 0.5rem 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  border: none;
  background: #24292E;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: "Heebo", sans-serif;
  cursor: pointer;
  -webkit-transition: -webkit-transform ease-in 220ms;
  transition: -webkit-transform ease-in 220ms;
  transition: transform ease-in 220ms;
  transition: transform ease-in 220ms, -webkit-transform ease-in 220ms;
}

@media screen and (max-width: 1070px) {
  header nav ul li button {
    font-size: 12px;
  }
}

header nav ul li button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

header nav ul li button svg {
  font-size: 18px;
  margin-left: 0.2rem;
}

@media screen and (max-width: 1000px) {
  header nav ul {
    display: none;
  }
}

.bars {
  font-size: 1.2em;
  margin-right: 0.7rem;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .bars {
    display: block;
  }
}

.hero {
  width: 100%;
  height: 90vh;
}

.hero .hero-content {
  width: 94%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4.5rem;
}

.hero .hero-content > * {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.hero .hero-content .hero-text {
  max-width: 100%;
}

.hero .hero-content .hero-text h1 {
  font-size: 52px;
  font-family: "Barlow", sans-serif;
  color: #3E54A3;
  font-weight: 500;
}

@media screen and (max-width: 800px) {
  .hero .hero-content .hero-text h1 {
    font-size: 34px;
  }
}

.hero .hero-content .hero-text h1 span {
  padding-bottom: 0.2rem;
  border-bottom: dashed 4px #2DC2C8;
}

.hero .hero-content .hero-text p {
  font-size: 20px;
  line-height: 30px;
  font-family: sans-serif;
  margin: 1.5rem 0;
  font-weight: 500;
  padding-right: 4rem;
  color: #1C2022;
}

@media screen and (max-width: 800px) {
  .hero .hero-content .hero-text p {
    font-size: 16px;
  }
}

.hero .hero-content .hero-text button {
  font-size: 18px;
  font-weight: 500;
  border-radius: 30px;
  outline: none;
  border: none;
  background: #ED2C49;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 4rem;
  margin: 2rem 0;
  cursor: pointer;
  -webkit-transition: -webkit-transform ease-in 220ms;
  transition: -webkit-transform ease-in 220ms;
  transition: transform ease-in 220ms;
  transition: transform ease-in 220ms, -webkit-transform ease-in 220ms;
}

@media screen and (max-width: 800px) {
  .hero .hero-content .hero-text button {
    font-size: 14px;
  }
}

.hero .hero-content .hero-text button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.hero .hero-content .hero-text button svg {
  margin-left: 0.4rem;
}

.hero .hero-content .hero-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1070px) {
  .hero .hero-content .hero-img {
    display: none;
  }
}

.hero .hero-content .hero-img img {
  margin-left: auto;
  max-width: 80%;
  height: 95%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal {
  width: 100%;
  position: absolute;
  left: 0;
  top: 63px;
  background: #fff;
  -webkit-transition: all ease-in 150ms;
  transition: all ease-in 150ms;
}

.modal ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 1.5rem;
}

.modal ul li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  color: #000;
  border-bottom: solid 1px #e9e6e6;
  font-weight: 700;
  gap: 1rem;
  cursor: pointer;
}

.modal ul li:nth-of-type(5) span {
  width: 35px;
  height: 20px;
  background: #3E54A3;
  font-family: "Barlow", sans-serif;
  font-size: 12.5px;
  font-weight: 700;
  margin-left: -.5rem;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
}

.modal ul li svg {
  font-size: 1.2rem;
}

.how {
  width: 100%;
  margin-top: 8rem;
  height: auto;
  border-bottom: solid 2px;
}

.how h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Barlow", sans-serif;
  letter-spacing: 3px;
}

.how .grid {
  display: -ms-grid;
  display: grid;
  width: 96%;
  height: auto;
  margin: 4rem auto;
  -ms-grid-columns: (minmax(150px, 1fr))[4];
      grid-template-columns: repeat(4, minmax(150px, 1fr));
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

@media screen and (max-width: 800px) {
  .how .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    gap: 4rem;
  }
}

.how .grid .item {
  text-align: center;
}

.how .grid .item svg {
  font-size: 3.5rem;
  fill: #3E54A3;
  margin-bottom: 1rem;
}

.how .grid .item h3 {
  font-size: 24px;
  font-family: "Barlow", sans-serif;
  color: #1C2022;
  font-weight: normal;
  margin: 1rem 0;
}

@media screen and (max-width: 1000px) {
  .how .grid .item h3 {
    font-size: 20px;
  }
}

.how .grid .item p {
  font-size: 16px;
  font-family: "Heebo", sans-serif;
  font-weight: normal;
  margin-top: 1.5rem;
  padding: 0 1rem;
}

@media screen and (max-width: 1000px) {
  .how .grid .item p {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  .how .grid .item p {
    width: 70%;
    display: block;
    margin: 0 auto;
  }
}

.late {
  width: 94%;
  margin: 4rem auto;
  height: auto;
  background: #FAFAFA;
  position: relative;
  z-index: 0;
  border: none;
  border-radius: 15px;
}

.late::before {
  position: absolute;
  content: "";
  width: 100%;
  height: clamp(10%, 35%, 400px);
  background: #3E54A3;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 15px 15px 0 0;
}

.late h2 {
  text-align: center;
  font-family: "Heebo", sans-serif;
  font-size: 15px;
  padding: 2.5rem 0;
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.late .late-grid {
  width: 96%;
  margin: 1rem auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 800px) {
  .late .late-grid {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .late .late-grid {
    width: 100%;
  }
}

.late .late-grid .late-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  background: #fff;
  border: none;
  border: solid 1px #d8d5d5;
  border-radius: 15px;
  cursor: pointer;
}

.late .late-grid .late-item > * {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.late .late-grid .late-item .late-img {
  width: 100%;
}

.late .late-grid .late-item .late-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.late .late-grid .late-item .late-content {
  padding: 1rem 1rem 1rem 2rem;
}

.late .late-grid .late-item .late-content h3 {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #1C2022;
  padding: 1rem 0;
}

.late .late-grid .late-item .late-content h4 {
  font-family: "Heebo", sans-serif;
  text-transform: uppercase;
  padding: 0.5rem 0;
}

.late .late-grid .late-item .late-content p {
  margin: 1rem 0;
  color: #919191;
  font-family: "Heebo", sans-serif;
  font-size: 16px;
}

.slack {
  width: 96%;
  max-height: 550px;
  margin: 2.5rem auto;
  background: #3E54A3;
  border-radius: 12px;
  text-align: center;
  position: relative;
  padding: 2.5rem 0 10rem 0;
  z-index: 1;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .slack {
    padding: 1.8rem 0 4rem 0;
  }
}

.slack h2 {
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  padding: 1rem 0;
}

@media screen and (max-width: 800px) {
  .slack h2 {
    font-size: 14px;
    padding: 0.8rem;
  }
}

.slack p {
  color: #fff;
  font-family: sans-serif;
  font-size: 28px;
  font-weight: normal;
  width: 85%;
  display: block;
  margin: 0 auto;
  padding: 1.5rem 0;
}

@media screen and (max-width: 800px) {
  .slack p {
    font-size: 24px;
    padding: 1rem 0;
  }
}

.slack .email {
  width: 90%;
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 800px) {
  .slack .email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
    margin: 0.7rem auto;
  }
}

.slack .email input {
  width: 40%;
  padding: .7rem;
  background: transparent;
  outline: none;
  border: solid 1px #fff;
  margin-right: 0.7rem;
}

.slack .email input::-webkit-input-placeholder {
  color: #808FC3;
  font-size: 1.05rem;
}

.slack .email input:-ms-input-placeholder {
  color: #808FC3;
  font-size: 1.05rem;
}

.slack .email input::-ms-input-placeholder {
  color: #808FC3;
  font-size: 1.05rem;
}

.slack .email input::placeholder {
  color: #808FC3;
  font-size: 1.05rem;
}

.slack .email button {
  background: #fff;
  color: #3E54A3;
  border: none;
  border-radius: 25px;
  text-transform: uppercase;
  padding: 0.5rem 1.1rem;
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  font-style: italic;
  margin-left: 0.2rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform ease-in 220ms;
  transition: -webkit-transform ease-in 220ms;
  transition: transform ease-in 220ms;
  transition: transform ease-in 220ms, -webkit-transform ease-in 220ms;
}

.slack .email button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.slack svg:first-of-type {
  width: 12rem;
  margin-top: 2rem;
  fill: #fff;
}

.slack svg:last-of-type {
  position: absolute;
  padding: 0;
  width: 75rem;
  fill: #384C93;
  top: -30%;
  right: -35%;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  z-index: -1;
}

.sub {
  width: 96%;
  margin: 1.5rem auto;
}

.sub .sub-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 4rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .sub .sub-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .sub .sub-content {
    padding: 1rem 2rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.sub .sub-content .sub-text {
  padding-top: 1.5rem;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.sub .sub-content .sub-text h3 {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 1rem 0;
}

.sub .sub-content .sub-text p {
  font-family: "Barlow", sans-serif;
  font-size: 28px;
  margin: 1rem 0;
}

.sub .sub-content .sub-text .sub-input {
  text-align: left;
  width: 100%;
}

.sub .sub-content .sub-text .sub-input > *:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4rem;
  margin: 1rem 0;
}

.sub .sub-content .sub-text .sub-input > *:first-child [type="checkbox"] {
  width: 20px;
  height: 20px;
}

.sub .sub-content .sub-text .sub-input > *:first-child label {
  font-family: sans-serif;
  font-size: 16px;
}

@media screen and (max-width: 700px) {
  .sub .sub-content .sub-text .sub-input > *:first-child label {
    font-size: 12px;
  }
}

.sub .sub-content .sub-text .sub-input > *:nth-child(2) {
  width: 100%;
}

.sub .sub-content .sub-text .sub-input > *:nth-child(2) input {
  width: 70%;
  margin: 1rem 0;
  padding: 0.8rem 0.6rem;
  outline: none;
}

.sub .sub-content .sub-text .sub-input > *:nth-child(2) input::-webkit-input-placeholder {
  font-size: 1.03rem;
  padding-left: 0.4rem;
}

.sub .sub-content .sub-text .sub-input > *:nth-child(2) input:-ms-input-placeholder {
  font-size: 1.03rem;
  padding-left: 0.4rem;
}

.sub .sub-content .sub-text .sub-input > *:nth-child(2) input::-ms-input-placeholder {
  font-size: 1.03rem;
  padding-left: 0.4rem;
}

.sub .sub-content .sub-text .sub-input > *:nth-child(2) input::placeholder {
  font-size: 1.03rem;
  padding-left: 0.4rem;
}

.sub .sub-content .sub-text .sub-input > *:nth-child(2) input:focus-within {
  outline: dashed 2px skyblue;
}

.sub .sub-content .sub-text .sub-input > *:nth-child(2) button {
  border: none;
  color: #fff;
  background: #ED2C49;
  border-radius: 25px;
  text-transform: uppercase;
  padding: 0.5rem 1.1rem;
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  font-style: italic;
  margin-left: 1rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform ease-in 220ms;
  transition: -webkit-transform ease-in 220ms;
  transition: transform ease-in 220ms;
  transition: transform ease-in 220ms, -webkit-transform ease-in 220ms;
}

@media screen and (max-width: 700px) {
  .sub .sub-content .sub-text .sub-input > *:nth-child(2) button {
    margin-left: 0;
  }
}

.sub .sub-content .sub-text .sub-input > *:nth-child(2) button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media screen and (max-width: 700px) {
  .sub .sub-content .sub-img {
    display: none;
  }
}

footer {
  width: 100%;
  padding: 4rem 0;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  border-top: solid 1px #000;
}

@media screen and (max-width: 800px) {
  footer {
    padding: 2rem 0;
  }
}

footer .footer-content {
  width: 94%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}

@media screen and (max-width: 800px) {
  footer .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1rem;
  }
}

footer .footer-content .footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 4rem;
}

@media screen and (max-width: 800px) {
  footer .footer-content .footer-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer-content .footer-text .col {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: left;
}

footer .footer-content .footer-text .col h3 {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  padding-bottom: 1.5rem;
}

footer .footer-content .footer-text .col p {
  font-family: sans-serif;
  font-weight: normal;
  padding-right: 0.5rem;
  font-size: 14px;
}

footer .footer-content .footer-text .col ul {
  list-style: none;
}

footer .footer-content .footer-text .col ul li {
  text-transform: capitalize;
  font-family: sans-serif;
  padding: 0.2rem 0;
  margin: 0.4rem 0;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

footer .footer-content .footer-text .col ul li::before {
  position: absolute;
  content: "";
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  bottom: -1%;
  width: 100%;
  height: 2px;
  background: #ED2C49;
  -webkit-transition: width ease-in 300ms;
  transition: width ease-in 300ms;
}

footer .footer-content .footer-text .col ul li:hover::before {
  width: 0;
}

footer .footer-content .icons {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  margin-bottom: 4.5rem;
}

@media screen and (max-width: 800px) {
  footer .footer-content .icons {
    width: 100%;
    margin: 2rem 0;
  }
}

footer .footer-content .icons svg {
  font-size: 3.5rem;
  -webkit-transition: -webkit-transform ease-in 150ms;
  transition: -webkit-transform ease-in 150ms;
  transition: transform ease-in 150ms;
  transition: transform ease-in 150ms, -webkit-transform ease-in 150ms;
  cursor: pointer;
}

footer .footer-content .icons svg:first-of-type {
  fill: #5cadd6;
}

footer .footer-content .icons svg:nth-child(2) {
  fill: #2966a3;
}

footer .footer-content .icons svg:last-of-type {
  fill: #0f618a;
}

footer .footer-content .icons svg:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

footer .end {
  width: 100%;
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 800px) {
  footer .end {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.4rem;
    padding-top: 0.5rem;
  }
}

footer .end span {
  text-transform: capitalize;
  font-family: sans-serif;
  font-size: 12.5px;
  color: #919191;
  padding: 0 0.4rem;
  cursor: pointer;
}

footer .end span:first-of-type {
  margin-right: auto;
}
/*# sourceMappingURL=App.css.map */